/* Define the stones */

.goban li.sign_-1 .stone img {
    background-image: url('white_stone.png');
}

.goban li.sign_1 .stone img {
    background-image: url('black_stone.png');
}

/* Define the subdued board -- d2ac76 is used as an approximately equal colour */

.goban,
.goban .row li .stone span::before,
.goban .row li .stone span::after,
.goban .row li.cross .stone span {
    background-color: #d2ac76;
    background-image: url('subdued_board.png');
}
.goban .row li.triangle .stone span::after {
    border-bottom-color: #d2ac76;
}

/* Make the lines on the goban dark */

.goban .row li {
    position: relative;
    background: url('inner.png') center;
}
.goban .row li.hoshi::after {
    background: #000000;
}
.goban .row:nth-child(3) li {
    background-image: url('side-n.png');
}
.goban .row:nth-last-child(3) li {
    background-image: url('side-s.png');
}
.goban .row li:first-child {
    background-image: url('side-w.png');
}
.goban .row li:last-child {
    background-image: url('side-e.png');
}
.goban .row:nth-child(3) li:first-child {
    background-image: url('corner-nw.png');
}
.goban .row:nth-child(3) li:last-child {
    background-image: url('corner-ne.png');
}
.goban .row:nth-last-child(3) li:first-child {
    background-image: url('corner-sw.png');
}
.goban .row:nth-last-child(3) li:last-child {
    background-image: url('corner-se.png');
}

/* Black border */

.goban {
    border: 7px solid #000000;
    padding: 10px 8px 8px 10px;
}

/* Black player bar */

#bar {
    background: #000000;
}

/* Suppress the "tatami mat" that exists as of 0.15 */

main {
    background: #000000;
}
