html {
  min-height: 100vh;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #383838;
  background-color: #eeeeee;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body.mac {
  font-family: Helvetica Neue,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a:focus, a:hover {
  text-decoration: none;
}

a {
  color: gray;
  text-decoration: none;
}

body, h4, h5, li {
  line-height: 20px;
}
