.kifu-page {
  height: 100vh;
}
.kifu-container {
  height: 100vh;
  display: flex;
  .kifu-info {
  }
  .kifu-board {
    margin-top: 10px;
    margin-left: 30px;
    flex: 1;
    order: -1;
  }
}

@media (max-width: 768px) {
  .kifu-container {
    flex-direction: column;
    flex: 1;
  }
  .kifu-info,
  .kifu-board {
    flex: auto;
  }
}

.kifu-info {
  margin-top: 30px;
  margin-right: 50px;
}

.move-control {
  padding: 0.7em;
  padding-bottom: 0.2em;
  cursor: pointer;
}

.left-side {
  display: none;
}
