$nav-height: 50px;
.nav-container {

  width: 100%;
  min-height: $nav-height;
  background-color: rgba(255,255,255,.97);
  box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
  display: flex;
  flex: 1;
  .nav-header {
    flex: 0 0 180px;
    order: -1;
    .logo {
      display: block;
      float: left;
      width: inherit;
      background-image: url('../images/logo.png');
      background-repeat: no-repeat;
      background-size: 98.4px 26px;
      background-position: 0 12px;
      margin: 0px 15px;
      height: $nav-height;
    }
  }

  .nav-body {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    font-size: 17px;
    display: flex;
    flex: 1;
    justify-content: center;
    height: $nav-height;
    a {
      display: inline-block;
      position: relative;
      padding: 15px 20px;
      margin: 0;
      display: inline-block;
      color: #383838;
      text-align: center;
      transition: all ease-in 350ms 128ms;
    }
    .active {
      color: #03a9f4;
    }
    a:hover {
      color: #03a9f4;
    }
  }

  .nav-footer {
    position: relative;
    height: $nav-height;
    flex: 0 0 auto;
    .nav-footer-wrap {
      position: relative;
      padding: 0 5px;
      display: inline-block;
      border-left: 1px solid rgba(0,0,0,.05);
      a {
        display: inline-block;
        font-size: 20px;
        padding: 15px 10px;
        transition: all ease-in 150ms 128ms;
      }
      a:hover {
        color: #03a9f4;
      }
    }
    .nav-sign {
      display: inline-block;
      font-size: 16px;
      .nav-signin, .nav-signup {
        & > a {
          font-size: inherit;
        }
      }
    }
  }
}
