#page-sidebar {
  position: fixed;
  overflow-y: hidden;
  outline: none;

  width: 235px;
  background-color: #2a2a2a;
  color: #9e9e9e;

  transition: all .4s ease-in-out;
  z-index: 8;

  li a {
    color: #737373;
  }

  .divider {
    background: rgba(255,255,255,.05);
    margin: 5px 15px;
    border-bottom: 0;
    overflow: hidden;
    height: 1px;
  }
  .divider-header {
    font-size: 11px;
    padding: 10px 15px;
    text-transform: uppercase;
    opacity: .2;
    color: #fff;
  }
}

#sidebar-bottom, #sidebar-top {
  background: #313131;
}

#sidebar-top {
  text-align: center;

  .nav > li.active > a, .nav > li > a:hover {
    color: rgba(255,255,255,.55);
    background: rgba(255,255,255,.05);
  }

  .nav-pills>li+li {
    margin: 0;
  }

  .nav-justified {
    display: block;
    margin: 0;
    padding: 4px;
  }

  .tab-content {
    padding: 10px;
  }

  .user-profile-sm {
    padding: 5px;
    text-align: left;

    .user-welcome {
      font-size: 12px;
      float: left;
      padding: 3px 0 0 15px;

      b {
        font-size: 13px;
        display: block;
        color: #d6d6d6;
      }
    }

    img {
      float: left;
    }

    .btn-sm {
      float: right;
      margin-top: 8px;
      color: #fff;
      background: rgba(0,0,0,.2);
      border-color: transparent;
    }
  }
}

.notification-box {
  li {
    line-height: 26px;
    position: relative;
    padding: 10px;
    border-bottom: #ebebeb solid 1px;
  }
}

.notifications-box-alt {
  text-align: left;
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 3px;

  li {
    position: relative;
    line-height: inherit;
    padding: 15px 10px;
    border-bottom: #232323 solid 1px;

    &:first-child {
      padding-top: 5px;
    }

    .notification-btn {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -11px;
      border-color: #000;
      background: #2d2d2d;
    }

    .notification-text {
      font-size: 11px;
      display: block;
      float: none;
      margin-top: -1px;
      margin-bottom: 1px;
    }

    .notification-time {
      font-style: italic;
      margin: 0 5px 0 10px;
      font-size: 10px;
      float: none;
      color: #a9a9a9;
    }

    .icon-notification {
      line-height: 26px;
      float: left;
      width: 26px;
      height: 26px;
      margin: 0 10px 0 0;
      text-align: center;
      border-radius: 50px;
    }

    .bg-purple {
      color: #fff;
      background: #984dff;
    }

    .bg-warning {
      color: #fff;
      border-color: #f96339;
      background: #fa7753;
    }

    .bg-green {
      color: #fff;
      border-color: #8eca3f;
      background: #9cd159;
    }
  }
}

#sidebar-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    a {
      font-size: 14px;
      line-height: 42px;
      position: relative;
      display: block;
      height: 42px;
      margin: 0 5px;
      padding: 0 10px;
      text-align: left;

      .fa {
        font-size: 18px;
        line-height: 42px;
        display: block;
        float: left;
        width: 30px;
        height: 42px;
        margin-right: 11px;
        text-align: center;
        opacity: .3;
        -moz-opacity: .3;
        filter: alpha(opacity:30);
      }
    }
    a:hover {
      color: rgba(255,255,255,.85);
    }
  }
}

