@import "./stylesheets/base.scss";
@import "./stylesheets/home.scss";
@import "./stylesheets/kifu.scss";
@import "./stylesheets/navigation.scss";
@import "./stylesheets/page.scss";
@import "./stylesheets/sidebar.scss";

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
