*, :after, :before {
  box-sizing: border-box; }

html {
  min-height: 100vh;
  height: 100vh; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #383838;
  background-color: #eeeeee;
  box-sizing: border-box; }

body.mac {
  font-family: Helvetica Neue,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a, a:focus, a:hover {
  color: inherit;
  text-decoration: none;
  outline: 0 !important; }

body, h4, h5, li {
  line-height: 20px; }

button:focus, div:focus {
  color: inherit;
  outline: 0 !important; }

input,
button,
submit {
  border: none; }

.move-control {
  padding: 0.7em;
  padding-bottom: 0.2em;
  cursor: pointer; }
  .move-control .rotate {
    transform: rotate(180deg); }

.left-side {
  display: none; }

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px; }

#react-paginate li {
  display: inline-block; }

#react-paginate .break a {
  cursor: default; }

.pagination {
  cursor: pointer;
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }

.pagination > li {
  display: inline; }

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px; }

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; }

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #dddddd; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #ffffff;
  background-color: #00bcd4;
  border-color: #00bcd4;
  cursor: default; }

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed; }

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333; }

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px; }

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px; }

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5; }

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0; }

.tags li {
  float: left; }

.tag {
  cursor: pointer;
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s; }
  .tag.active {
    background-color: #f87500;
    color: white; }
  .tag.active::after {
    border-left-color: #f87500; }

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px; }

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0; }

.tag:hover {
  background-color: #f87500;
  color: white; }

.tag:hover::after {
  border-left-color: #f87500; }

.footer {
  background-color: #000;
  clear: both;
  padding: 20px;
  color: #999;
  text-align: center; }

.messagebox {
  display: flex;
  position: fixed;
  z-index: 100;
  background-color: #daf0d5;
  border: 2px solid #d6e6ce;
  top: 40px;
  right: -500px;
  padding: 15px 20px;
  width: 500px;
  justify-content: space-between;
  transition: all .5s ease-in-out; }
  .messagebox.open {
    right: 0px; }
  .messagebox .icon-bg {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #cae1bd;
    text-align: center;
    align-self: center; }
    .messagebox .icon-bg i {
      font-size: 28px;
      color: #4e6441;
      line-height: 40px; }
  .messagebox .message-content {
    flex: 2;
    margin-left: 15px; }
    .messagebox .message-content .title {
      font-size: 18px;
      font-weight: bold;
      color: #4e6441; }
    .messagebox .message-content .text {
      margin-top: 5px;
      color: #4e6441; }
  .messagebox .close {
    font-size: 20px;
    align-self: center;
    margin-left: 15px;
    opacity: .4; }
    .messagebox .close:hover {
      opacity: .6; }

.kifu-board {
  float: left; }

.kifu-panel {
  margin-left: 20px;
  width: 400px;
  float: left; }
  .kifu-panel .fixed-width {
    width: 100px; }

#page-header {
  background: #fff;
  position: relative;
  height: 50px; }
  #page-header a:hover {
    cursor: pointer;
    color: #f87500; }

#header-logo {
  width: 235px;
  font-size: 15px;
  line-height: 50px;
  float: left;
  height: 50px;
  margin-right: 10px;
  padding: 0 0 0 15px;
  position: fixed;
  z-index: 7;
  left: 0;
  top: 0;
  transition: all .6s ease-in-out;
  color: #fff;
  background: #232323; }
  #header-logo a {
    float: right;
    width: 50px;
    text-align: center; }

#sidebar-search {
  position: relative;
  float: left;
  margin: 9px 0 0 10px; }

#header-right {
  float: right;
  margin-right: 10px; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-menu.account {
  font-size: 13px;
  line-height: 1.6em;
  padding: 5px 0;
  width: 325px;
  text-transform: none;
  border: 0;
  left: auto;
  right: 0px; }
  .dropdown-menu.account .login-box {
    padding: 10px 15px; }
    .dropdown-menu.account .login-box .user-img {
      position: relative;
      float: left;
      width: 80px;
      height: 80px;
      margin-right: 15px; }
      .dropdown-menu.account .login-box .user-img img {
        width: 100%;
        height: 100%; }
  .dropdown-menu.account .user-info a {
    line-height: 16px;
    display: inline-block;
    height: 16px;
    margin-right: 5px;
    padding-right: 5px; }
  .dropdown-menu.account .user-info span {
    font-size: 17px;
    display: block;
    padding: 0 0 10px; }
    .dropdown-menu.account .user-info span i {
      font-size: 80%;
      font-style: normal;
      display: block;
      opacity: .7;
      -moz-opacity: .7;
      filter: alpha(opacity=70); }
  .dropdown-menu.account ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .dropdown-menu.account ul li {
      position: relative; }
      .dropdown-menu.account ul li > a {
        font-weight: 400;
        line-height: 20px;
        position: relative;
        display: block;
        clear: both;
        margin: 0;
        padding: 5px 15px;
        cursor: pointer;
        white-space: nowrap; }
        .dropdown-menu.account ul li > a .icon {
          float: right; }
  .dropdown-menu.account .button-pane {
    background: 0 0 !important;
    border-top: rgba(0, 0, 0, 0.06) solid 1px;
    border-right: rgba(0, 0, 0, 0.06) solid 1px;
    padding: 5px;
    text-align: center;
    border-width: 1px 0 0;
    border-style: solid;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
    .dropdown-menu.account .button-pane a {
      width: 100%; }

.top-icon-bar {
  float: right; }
  .top-icon-bar .dropdown > a {
    line-height: 44px;
    position: relative;
    display: block;
    float: left;
    width: 44px;
    height: 44px;
    margin: 3px 0 0;
    text-align: center;
    border-radius: 2px; }
  .top-icon-bar .fa {
    font-size: 20px; }

.user-profile {
  float: right;
  margin-right: 20px; }
  .user-profile .signin {
    margin-top: 10px; }
  .user-profile > a {
    line-height: 50px;
    display: block;
    height: 50px;
    margin: 0;
    padding: 0 0 0 15px; }
    .user-profile > a img {
      float: left;
      width: 34px;
      height: 34px;
      margin: 7px 5px 0 0;
      border-radius: 4px; }
    .user-profile > a .fa {
      line-height: 50px;
      height: 50px;
      display: block;
      float: left; }
  .user-profile.login {
    margin-right: 30px;
    cursor: pointer; }

.opacity-80 {
  opacity: .8; }

.theme {
  margin-top: 10px;
  float: left;
  display: inline-block; }

.page-container {
  padding: 10px;
  background-color: #fff;
  min-height: 520px;
  transition: all .6s ease-in-out; }

.profile-container {
  min-height: 530px;
  padding: 20px; }
  .profile-container .avatar {
    width: 200px;
    height: 200px; }

.page-nav {
  position: relative;
  background: #fafafa;
  height: 56px;
  padding: 0 10px; }
  .page-nav .filter .btn-default {
    border-color: #db690c;
    border-radius: 3px;
    color: #fff;
    background: #f87500; }
    .page-nav .filter .btn-default:hover, .page-nav .filter .btn-default:active, .page-nav .filter .btn-default:focus {
      color: #fff;
      border-color: #b45f1a;
      background-color: #ff8e29; }
  .page-nav .filter .filter-icon {
    margin-right: 5px; }
  .page-nav .filter .popover-title {
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent; }
  .page-nav .filter .popover-content {
    padding: 10px; }
    .page-nav .filter .popover-content a {
      font-size: 12px;
      padding: 20px 10px; }
  .page-nav .dropdown-menu {
    width: 600px; }
  .page-nav .page-subnav {
    display: inline-block;
    margin: 0;
    margin-left: 50px;
    padding: 0;
    text-align: center; }
    .page-nav .page-subnav li {
      line-height: 30px;
      display: inline-block;
      height: 30px; }
      .page-nav .page-subnav li a,
      .page-nav .page-subnav li span {
        color: #888;
        font-size: 14px;
        line-height: 56px;
        display: block;
        height: 56px;
        margin: 0 12px;
        padding: 0 3px;
        border-bottom: transparent solid 2px; }
      .page-nav .page-subnav li .seemore {
        margin-left: 20px;
        border-radius: 3px; }

.btn {
  border-radius: 0; }

.btn.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.btn.btn-primary {
  color: #fff;
  border-color: #db690c;
  background: #f87500; }

.btn.btn-primary {
  color: #fff;
  border-color: #db690c;
  background: #f87500; }

.btn.btn-primary:hover {
  color: #fff;
  border-color: #b45f1a;
  background-color: #ff8e29; }

.btn.btn-success {
  color: #fff;
  background: #36be00;
  border-color: #2fa11c; }

.btn.btn-success:hover {
  color: #fff;
  border-color: #46a51f;
  background-color: #47b919; }

.btn.btn-info {
  color: #fff;
  background: #0084ff;
  border-color: #1c82e1; }

.btn.btn-info:hover {
  color: #fff;
  border-color: #2173c0;
  background-color: #3ca1ff; }

.btn.btn-danger {
  color: #fff;
  border-color: #f33;
  background: #ff5757; }

.btn.btn-danger:hover {
  color: #fff;
  border-color: #ff1f1f;
  background: #f33; }

.puzzle-card {
  position: relative;
  background-color: #FFF;
  width: 155px;
  height: 185px;
  margin: 5px;
  float: left; }
  .puzzle-card .puzzle-info {
    width: 100%;
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 18px; }
    .puzzle-card .puzzle-info .black-ki-shape {
      position: absolute;
      display: inline-block;
      top: 3px;
      right: 12px;
      background: #000;
      width: 15px;
      height: 15px;
      border-radius: 50%; }
    .puzzle-card .puzzle-info .white-ki-shape {
      position: absolute;
      top: 3px;
      right: 12px;
      display: inline-block;
      border: 1px solid;
      background: #fff;
      width: 15px;
      height: 15px;
      border-radius: 50%; }
  .puzzle-card img {
    width: 100%; }

.kifu-card {
  position: relative;
  background-color: #FFF;
  width: 240px;
  height: 330px;
  margin: 5px;
  float: left; }
  .kifu-card .kifu-info {
    position: absolute;
    left: 5px;
    bottom: 5px; }
  .kifu-card img {
    width: 100%; }

.puzzle-board {
  position: relative;
  float: left;
  background-color: #FFF;
  margin: 0 10px 10px 10px;
  width: calc(100vmin);
  height: calc(100vmin); }

.puzzle-panel {
  overflow: hidden;
  background-color: #FFF;
  margin: 10px;
  padding: 15px; }
  .puzzle-panel .title {
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold; }
  .puzzle-panel .research {
    margin: 20px 0px; }
  .puzzle-panel .button-container {
    margin-top: 20px; }

.share-container {
  margin: 10px 0; }

.share-button {
  float: left; }

.bg-blue {
  color: #fff;
  border-color: #3dc4f5;
  background: #5bccf6; }

.bg-green {
  color: #fff;
  border-color: #8eca3f;
  background: #9cd159; }

.bg-red {
  color: #fff;
  border-color: #f33;
  background: #ff5757; }

.font-red, .parsley-required, .text-danger {
  color: #ff5757 !important; }

.tile-box {
  line-height: inherit;
  display: block;
  height: auto;
  padding: 0;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 25px; }
  .tile-box .tile-header {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.2); }
  .tile-box .tile-content-wrapper {
    position: relative;
    overflow: hidden;
    padding: 30px 10px 17px; }
    .tile-box .tile-content-wrapper .tile-content {
      height: 35px;
      font-size: 35px;
      text-align: right; }
    .tile-box .tile-content-wrapper .fa {
      line-height: 70px;
      position: absolute;
      top: 50%;
      left: 15px;
      height: 70px;
      font-size: 65px;
      margin-top: -32px;
      opacity: .3; }
    .tile-box .tile-content-wrapper small {
      font-size: 14px;
      display: block;
      text-align: right;
      opacity: .7; }
  .tile-box .tile-footer {
    display: block;
    margin: 0 -1px -1px;
    padding: 5px 10px;
    text-align: left;
    color: inherit;
    background: rgba(0, 0, 0, 0.1); }

.favorite {
  cursor: pointer; }
  .favorite:hover {
    color: red; }
  .favorite.active {
    color: red; }
    .favorite.active .fa {
      animation-name: bounceIn;
      animation-duration: 0.5s;
      animation-fill-mode: both; }

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0); }
  50% {
    opacity: 0.9;
    transform: scale(1.3); }
  80% {
    opacity: 1;
    transform: scale(0.8); }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0); } }

.board-toolbar {
  width: 100%; }
  .board-toolbar > .section {
    margin: 2px 5px;
    padding: 2px 5px;
    float: left; }

.black-ki-shape {
  display: inline-block;
  background: #000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle; }

.white-ki-shape {
  display: inline-block;
  border: 1px solid;
  background: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle; }

.flex {
  display: flex; }

.room-container {
  justify-content: space-between;
  height: calc(100vmin - 50px); }
  .room-container .chatbox {
    position: relative;
    width: 100%;
    overflow: scroll;
    flex-grow: 1;
    padding: 0px 150px 20px 5px; }
    .room-container .chatbox span {
      float: right; }
    .room-container .chatbox .notification {
      color: #999; }
    .room-container .chatbox .online-list {
      position: absolute;
      top: 0;
      right: 0;
      width: 150px;
      padding-left: 10px; }
  .room-container .room-board {
    position: relative;
    background-color: #FFF;
    margin: 0 10px 0px 5px; }
  .room-container .room-panel {
    display: flex;
    flex-direction: column;
    margin: 0 5px 20px 5px;
    width: 100%; }
    .room-container .room-panel .room-info {
      flex-direction: row; }
      .room-container .room-panel .room-info .edit {
        position: absolute;
        right: 25px;
        top: 30px;
        cursor: pointer; }
    .room-container .room-panel .sendbox input, .room-container .room-panel .sendbox button {
      float: left; }
    .room-container .room-panel .sendbox input {
      width: 84%; }
    .room-container .room-panel .sendbox button {
      margin-left: 1%;
      width: 15%; }

.rooms-container {
  display: flex; }
  .rooms-container .rooms-wrapper {
    margin: 20px;
    width: 200px;
    text-align: center;
    font-size: 18px; }
    .rooms-container .rooms-wrapper .rooms-btn {
      width: 200px;
      height: 200px;
      border-radius: 50px;
      font-size: 40px;
      margin-bottom: 14px; }

.favorite.active .fa {
  animation-name: bounceIn; }

.favorite.active .fa {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

#page-sidebar {
  position: fixed;
  width: 235px;
  background-color: #2a2a2a;
  color: #9e9e9e;
  height: 100%;
  transition: all .6s ease-in-out;
  z-index: 8; }
  #page-sidebar li a {
    color: #737373; }
  #page-sidebar .divider {
    background: rgba(255, 255, 255, 0.05);
    margin: 5px 15px;
    border-bottom: 0;
    overflow: hidden;
    height: 1px; }
  #page-sidebar .divider-header {
    font-size: 11px;
    padding: 10px 15px;
    text-transform: uppercase;
    opacity: .2;
    color: #fff; }
  #page-sidebar .page-sidebar-wrapper {
    overflow-y: hidden;
    outline: none; }

#sidebar-bottom, #sidebar-top {
  background: #313131; }

#sidebar-top {
  text-align: center; }
  #sidebar-top .nav > li.active > a, #sidebar-top .nav > li > a:hover {
    color: rgba(255, 255, 255, 0.55);
    background: rgba(255, 255, 255, 0.05); }
  #sidebar-top .nav-pills > li + li {
    margin: 0; }
  #sidebar-top .nav-justified {
    display: block;
    margin: 0;
    padding: 4px; }
  #sidebar-top .tab-content {
    padding: 10px; }
  #sidebar-top .user-profile-sm {
    padding: 5px;
    text-align: left; }
    #sidebar-top .user-profile-sm .user-welcome {
      font-size: 12px;
      float: left;
      padding: 3px 0 0 15px; }
      #sidebar-top .user-profile-sm .user-welcome b {
        font-size: 13px;
        display: block;
        color: #d6d6d6; }
    #sidebar-top .user-profile-sm img {
      float: left; }
    #sidebar-top .user-profile-sm .btn-sm {
      float: right;
      margin-top: 8px;
      color: #fff;
      background: rgba(0, 0, 0, 0.2);
      border-color: transparent; }

.notification-box li {
  line-height: 26px;
  position: relative;
  padding: 10px;
  border-bottom: #ebebeb solid 1px; }

.notifications-box-alt {
  text-align: left;
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 3px; }
  .notifications-box-alt li {
    position: relative;
    line-height: inherit;
    padding: 15px 10px;
    border-bottom: #232323 solid 1px; }
    .notifications-box-alt li:first-child {
      padding-top: 5px; }
    .notifications-box-alt li .notification-btn {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -11px;
      border-color: #000;
      background: #2d2d2d; }
    .notifications-box-alt li .notification-text {
      font-size: 11px;
      display: block;
      float: none;
      margin-top: -1px;
      margin-bottom: 1px; }
    .notifications-box-alt li .notification-time {
      font-style: italic;
      margin: 0 5px 0 10px;
      font-size: 10px;
      float: none;
      color: #a9a9a9; }
    .notifications-box-alt li .icon-notification {
      line-height: 26px;
      float: left;
      width: 26px;
      height: 26px;
      margin: 0 10px 0 0;
      text-align: center;
      border-radius: 50px; }
    .notifications-box-alt li .bg-purple {
      color: #fff;
      background: #984dff; }
    .notifications-box-alt li .bg-warning {
      color: #fff;
      border-color: #f96339;
      background: #fa7753; }
    .notifications-box-alt li .bg-green {
      color: #fff;
      border-color: #8eca3f;
      background: #9cd159; }

#sidebar-menu ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  #sidebar-menu ul li {
    position: relative; }
    #sidebar-menu ul li a {
      font-size: 14px;
      line-height: 42px;
      position: relative;
      display: block;
      height: 42px;
      margin: 0 5px;
      padding: 0 10px;
      text-align: left; }
      #sidebar-menu ul li a .fa {
        font-size: 18px;
        line-height: 42px;
        display: block;
        float: left;
        width: 30px;
        height: 42px;
        margin-right: 11px;
        text-align: center;
        opacity: .3;
        -moz-opacity: .3;
        filter: alpha(opacity=30); }
    #sidebar-menu ul li a:hover, #sidebar-menu ul li a.active {
      color: rgba(255, 255, 255, 0.85); }

#collapse-sidebar-menu ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  #collapse-sidebar-menu ul li {
    position: relative; }
    #collapse-sidebar-menu ul li a {
      font-size: 14px;
      line-height: 42px;
      position: relative;
      display: block;
      height: 42px;
      text-align: left; }
      #collapse-sidebar-menu ul li a .fa {
        font-size: 18px;
        line-height: 42px;
        display: block;
        float: right;
        width: 30px;
        height: 42px;
        margin-right: 11px;
        text-align: center;
        opacity: .3;
        -moz-opacity: .3;
        filter: alpha(opacity=30); }
    #collapse-sidebar-menu ul li a:hover {
      color: rgba(255, 255, 255, 0.85); }

.App {
  text-align: left; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }


.loading {
  width: 100px;
  height: 100px;
  padding-top: 100px;
  font-size: 100px;
  margin: 0 auto;
}