.problem {
  height: 100%;

  img {
    width: 100%;
  }

  $info-padding: 16px;
  $info-bottom: 4px;
  .problem-level {
    position: absolute;
    bottom: $info-bottom;
    left: $info-padding;
  }

  .ki-shape {
    position: absolute;
    display: inline-block;
    bottom: $info-bottom + 4px;
    right: $info-padding;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .ki-shape.black {
    background: #000;
  }

  .ki-shape.white {
    border: 1px solid;
    background: #fff;
  }
}

.filter-bar {
  margin-bottom: 10px;
  padding-left: 16px;
}
